{% extends "base.html" %}
{% block content %}
<h2>MAG-AARAL NA (Home)</h2>
<p>Kumusta, {{ user }}! Piliin ang gagawin mo ngayon:</p>

<ul>
    <li><a class="btn" href="#">Start Timer</a></li>
    <li><a class="btn btn-secondary" href="#">Rest</a></li>
    <li><a class="btn" href="#">View Friends</a></li>
    <li><a class="btn" href="#">Add Friends</a></li>
    <li><a class="btn" href="#">Show Analytics</a></li>
</ul>

<p style="font-size: 12px;">(Pwede niyo pa itong lagyan ng totoong features later.)</p>
{% endblock %}
